@import "~bootstrap/scss/bootstrap.scss";
.desenfoque{
    backdrop-filter: blur(5px);
}

.contenedorTop{
    width: 100%;
    height: 500px;
    overflow-y: scroll;
}

.contenedorTop::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
}
.contenedorTop::-webkit-scrollbar-thumb {
    background: #1d1d1d;
    border-radius: 4px;
}
.contenedorTop:-webkit-scrollbar-thumb:hover {
    background: #424242;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.width2{
    width: 95%;
}
.textArea{
    max-height: 100px ;
    min-height: 100px ;
}
.comentMarcado{
    opacity: 0.8;
}
.cuadrodepregunta{
    background: rgba(255, 254, 254, 0.699);
}