@import "~bootstrap/scss/bootstrap.scss";

.contenedor{
    background-color: #e6e6e6;
    width: 100%;
    height: 700px;
    overflow-y: scroll;
}

.info{
    display: none;
}

.imgS{
    cursor: pointer;
}
.desenfoque2{
        backdrop-filter: blur(0px);
}
.imgS:hover{
    .info{
        display: block;
    }
    .desenfoque2{
        backdrop-filter: blur(5px);
    }
}  