@import "~bootstrap/scss/bootstrap.scss";
/* 
    General Styles
*/
body{
    background-image:url(https://raw.githubusercontent.com/MartinCoimbra/MartinCoimbra/main/background.png);
}
.fondoperfil{
    background: url(https://i.pinimg.com/originals/05/50/ec/0550ec6e4a7390696ace592e80ccb82b.png);
    background-size: 100% 100%;
}
.paleta5{
    background: #262626;
}
.paleta4{
    background: #00868b;
}
.paleta3{
    background: #40e0d0;
}
.paleta2{
    background: #dddddd;
}
.paleta1{
    background: #dddddd;
}
.myDiv
{
    min-height: 100%;
    max-height: 100%;
}